:root {
    --main-bg-color: #eeeeee;
    --header-bg-color: rgb(0, 42, 107);
    --header-title-color: rgb(255, 215, 0);
    --header-title-highlight-color: rgb(218, 181, 0);
    --navlink-color: rgb(146, 190, 226);
    --landingPage-sub-color: rgb(136, 183, 223);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
}

body {
    margin: 0;
}

/* Navbar */

div.navbar {
    display: flex;
    padding: 15px;
    padding-bottom: 0px;
    background-color: var(--header-bg-color);
}

div.logo {
    margin: auto;
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: var(--header-title-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--navlink-color);
    outline: 1px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

div.logo span {
    margin: 15px;
}

div.logo:hover {
    cursor: pointer;
    background-color: rgba(123, 192, 248, 0.082);
}

div.navbar .logo::before, div.navbar .logo::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    color: var(--header-title-color);
    transition: height .2s, width .2s;
    transition-timing-function: ease;
}

.logo::before {
    width: 25%;
    height: 50%;
    top: 0;
    left: 0;
    border-color: var(--navlink-color);
    border-top-style: solid;
    border-left-style: solid;
}

.logo::after {
    width: 25%;
    height: 50%;
    bottom: 0;
    right: 0;
    border-color: var(--navlink-color);
    border-bottom-style: solid;
    border-right-style: solid;
}

.logo:hover::before {
    width: 35%;
    height: 60%;
    top: 0;
    left: 0;
    border-color: var(--navlink-color);
    border-top-style: solid;
    border-left-style: solid;
}

.logo:hover::after {
    width: 35%;
    height: 60%;
    bottom: 0;
    right: 0;
    border-color: var(--navlink-color);
    border-bottom-style: solid;
    border-right-style: solid;
}

div.links {
    display: flex;
    margin: auto;
    width: 70%;
    padding-left: 20px;
}

u.navlinkU {
    text-decoration: underline;
    text-decoration-color: var(--navlink-color);
}

div.space {
    margin: auto;
    width: 10%;
    padding-left: 20px;
}

button {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

button::before, button::after {
    height: 0%;
    box-sizing: inherit;
    content: "";
    position: absolute;
    color: var(--header-title-color);
    transition: height .5s;
}

button::before {
    left: 0;
    top: 0;
    border-color: var(--header-title-color);
    border-left-style: solid;
}

button::after {
    right: 0;
    top: 0;
    border-color: var(--header-title-color);
    border-right-style: solid;
}


button:hover, button:hover::before, button:hover::after {
    height: 100%;
}

.navlink {
    border: none;
    color: var(--navlink-color);
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
}

/* Header */

div.landingHeader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: var(--header-bg-color);
    font-family: 'Rubik', sans-serif;
    height: 80vh;
}

div.landingHeader span {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    color: var(--header-title-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--header-title-highlight-color);
    width: 100%;
    margin: auto;
    padding: 0rem 0rem;
    text-shadow:1px 1px var(--navlink-color), 
                2px 2px var(--navlink-color), 
                3px 3px var(--navlink-color),
                4px 4px var(--navlink-color),
                5px 5px var(--navlink-color);
}

div.landingHeader span::before{
    display: inline-block;
    content: "";
    margin-bottom: 10px;
    border-top: .8rem solid rgb(0, 25, 61);
    border-bottom: .3rem solid rgb(23, 67, 128);
    width: 100vw;
}

div.landingHeader span::after{
    display: inline-block;
    content: "";
    margin-top: -20px;
    border-top: .3rem solid rgb(23, 67, 128);
    border-bottom: .8rem solid rgb(0, 25, 61);
    width: 100vw;
}

div.landingHeader span .outline {
    color: var(--header-bg-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--header-title-color);
    text-shadow:2px 2px var(--navlink-color),
                3px 3px var(--navlink-color),
                4px 4px var(--navlink-color),
                5px 5px var(--navlink-color),
                6px 6px var(--navlink-color),
                7px 7px var(--navlink-color);
}

div.headerBody div.rotatingIcons {
    position: absolute;
    transform: translateZ(-65px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    top: 50px;
    left: 50%;
    -webkit-animation: rotateIcons 15s linear infinite;
    animation: rotateIcons 15s linear infinite;
} 

div.headerBody div.floatingIcons {
    position: absolute;
    transform: translateZ(-65px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    left: 50%;
    -webkit-animation: floatEffect 15s linear infinite;
    animation: floatEffect 15s linear infinite;
}

@-webkit-keyframes rotateIcons {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes rotateIcons {
    0% {
        transform: rotate3d(0, 1, 0, 0deg)
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@-webkit-keyframes floatEffect {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    10% {
        -webkit-transform: translate3d(0, 14px, 0);
    }
    25% {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -16px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 18px, 0);
    }
}

@keyframes floatEffect {
    0% {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(0, 14px, 0);
    }
    23% {
        transform: translate3d(0, 0px, 0);
    }
    49% {
        transform: translate3d(0, -16px, 0);
    }
    65% {
        transform: translate3d(0, 0px, 0);
    }
    85% {
        transform: translate3d(0, 13px, 0);
    }
    100% {
        transform: translate3d(0, 0px, 0);
    }
}

div.headerBody div.imageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -65px;
    width: 130px;
    height: 130px;
}

div.imageContainer:nth-child(n) {
    background-color: rgba(88, 88, 88, 0.308);
    border: 2px solid var(--navlink-color);
} 

div.landingHeader img {
    position: relative;
    margin: auto;
    width: 100px;
    z-index: 1;
}

div.headerBody div.hands img {
    position: absolute;
    width: 35vh;
    top: 55%;
    z-index: 1;
}

div.headerBody div.hands img:nth-child(1) {
    left: 40vw;
    transform: rotate(-2deg);
}

div.headerBody div.hands img:nth-child(2) {
    left: 11%;
    transform: scaleX(-1) rotate(-25deg) rotateY(25deg);
}

div.headerBody {
    position: relative;
    height: 100%;
}

div.headerBody p {
    text-align: center;
    font-size: 3rem;
    color: var(--navlink-color);
}

/* Wave divider */

div.waveDivider {
    position: relative;
    width: 100%;
    height: 25%;
    margin: auto;
    background-color: var(--header-bg-color);
}

svg {
    position: absolute;
    bottom: 0;
    color: var(--navlink-color);
}

.wavePath-22lfEN {
    -webkit-animation: waveDividerAnimation 20s linear infinite alternate;
    animation: waveDividerAnimation 10s linear infinite alternate;
}

@-webkit-keyframes waveDividerAnimation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }
    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }
    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}

@keyframes waveDividerAnimation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }
    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }
    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}
  
/* Body */
div.mainBody {
    background-color: transparent;
}

div.mainBody div.section {
    position: relative;
    height: 45vw;
}

div.mainBody div.textBody {
    margin: 4rem 3rem;
    width: 40%;
}

div.section div.waveDivider {
    background-color: inherit;
    position: absolute;
    bottom: 0;
}

div.gameRecs {
    background-color: var(--navlink-color);
}

div.gameRecs svg {
    color: var(--landingPage-sub-color);
}

div.streamRecs {
    background-color: var(--landingPage-sub-color);
}

div.streamRecs svg {
    color: var(--navlink-color)
}

div.videoRecs {
    background-color: var(--navlink-color);
}

div.mainBody h1 {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: transparent;
    font-size: 2rem;
    margin: 0;
}

div.mainBody p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

div.mainBody div{
    padding-top: 15px;
}