:root {
    --main-bg-color: #eeeeee;
    --header-bg-color: rgb(0, 41, 107);
    --header-title-color: rgb(253, 197, 0);
    --header-title-highlight-color: rgb(226, 177, 1);
    --navlink-color: rgb(146, 190, 226);
    --landingPage-sub-color: rgb(136, 183, 223);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
}

body {
    margin: 0;
}

/* Navbar */

div.navbar {
    display: flex;
    padding: 15px;
    padding-bottom: .7vh;
    background-color: var(--header-bg-color);
}

div.logo {
    margin: auto;
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: var(--header-title-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--navlink-color);
    outline: 1px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

div.logo span {
    margin: 15px;
}

div.logo:hover {
    cursor: pointer;
    background-color: rgba(123, 192, 248, 0.082);
}

div.navbar .logo::before, div.navbar .logo::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    color: var(--header-title-color);
    transition: height .2s, width .2s;
    transition-timing-function: ease;
}

.logo::before {
    width: 25%;
    height: 50%;
    top: 0;
    left: 0;
    border-color: var(--navlink-color);
    border-top-style: solid;
    border-left-style: solid;
}

.logo::after {
    width: 25%;
    height: 50%;
    bottom: 0;
    right: 0;
    border-color: var(--navlink-color);
    border-bottom-style: solid;
    border-right-style: solid;
}

.logo:hover::before {
    width: 35%;
    height: 60%;
    top: 0;
    left: 0;
    border-color: var(--navlink-color);
    border-top-style: solid;
    border-left-style: solid;
}

.logo:hover::after {
    width: 35%;
    height: 60%;
    bottom: 0;
    right: 0;
    border-color: var(--navlink-color);
    border-bottom-style: solid;
    border-right-style: solid;
}

div.links {
    display: flex;
    margin: auto;
    width: 70%;
    padding-right: 100px;
    padding-left: 100px;
}

u.navlinkU {
    text-decoration: underline;
    text-decoration-color: var(--navlink-color);
}

div.space {
    margin: auto;
    width: 10%;
    padding-left: 20px;
}

button {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

button::before, button::after {
    height: 0%;
    box-sizing: inherit;
    content: "";
    position: absolute;
    color: var(--header-title-color);
    transition: height .5s;
}

button::before {
    left: 0;
    top: 0;
    border-color: var(--header-title-color);
    border-left-style: solid;
}

button::after {
    right: 0;
    top: 0;
    border-color: var(--header-title-color);
    border-right-style: solid;
}


button:hover, button:hover::before, button:hover::after {
    height: 100%;
}

.navlink {
    border: none;
    color: var(--navlink-color);
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
}

/* Header */

div.landingHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: var(--header-bg-color);
    font-family: 'Rubik', sans-serif;
    height: 90vh;
}

div.landingHeader img.background {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: auto;
    top: 30px;
    left: -8vw;
}

div.landingHeader img.background.flip {
    position: absolute;
    right: -84vw;
    transform: translate(-50%, -50%);
    transform: scaleX(-1);
}

span.header {
    text-align: center;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: var(--header-title-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--header-title-highlight-color);
    width: 100%;
    margin: auto;
    padding: 0rem 0rem;
    padding-bottom: 4vh;
    text-shadow:1px 1px var(--navlink-color), 
                2px 2px var(--navlink-color), 
                3px 3px var(--navlink-color),
                4px 4px var(--navlink-color),
                5px 5px var(--navlink-color);
}

span.header::before{
    display: inline-block;
    content: "";
    margin-bottom: 2vh;
    border-top: .8rem solid rgb(0, 25, 61);
    border-bottom: .3rem solid rgb(23, 67, 128);
    width: 100vw;
}

span.header::after{
    /* display: inline-block;
    content: "";
    margin-top: -20px;
    border-top: .3rem solid rgb(23, 67, 128);
    border-bottom: .8rem solid rgb(0, 25, 61);
    width: 100vw; */
}

div.landingHeader span.header .outline {
    color: var(--header-bg-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--header-title-color);
    text-shadow:2px 2px var(--navlink-color),
                3px 3px var(--navlink-color),
                4px 4px var(--navlink-color),
                5px 5px var(--navlink-color),
                6px 6px var(--navlink-color),
                7px 7px var(--navlink-color);
}

div.rotatingIcons {
    position: absolute;
    transform: translateZ(-65px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    top: 15vh;
    left: 50%;
    -webkit-animation: rotateIcons 15s linear infinite;
    animation: rotateIcons 15s linear infinite;
} 

div.floatingIcons {
    position: absolute;
    transform: translateZ(-65px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    left: 50%;
    -webkit-animation: floatEffect 15s linear infinite;
    animation: floatEffect 15s linear infinite;
}

@-webkit-keyframes rotateIcons {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg)
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes rotateIcons {
    0% {
        transform: rotate3d(0, 1, 0, 0deg)
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@-webkit-keyframes floatEffect {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    10% {
        -webkit-transform: translate3d(0, 14px, 0);
    }
    25% {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -16px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 18px, 0);
    }
}

@keyframes floatEffect {
    0% {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(0, 14px, 0);
    }
    23% {
        transform: translate3d(0, 0px, 0);
    }
    49% {
        transform: translate3d(0, -16px, 0);
    }
    65% {
        transform: translate3d(0, 0px, 0);
    }
    85% {
        transform: translate3d(0, 13px, 0);
    }
    100% {
        transform: translate3d(0, 0px, 0);
    }
}

div.headerBody div.imageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -65px;
    width: 15vh;
    height: 15vh;
}

div.imageContainer:nth-child(n) {
    background-color: rgba(88, 88, 88, 0.308);
    border: 2px solid var(--navlink-color);
} 

div.landingHeader img {
    position: relative;
    margin: auto;
    width: 11vh;
    z-index: 1;
}

div.hands {
    position: relative;
    left: 50%;
}

div.headerBody div.hands img {
    position: absolute;
    width: 25vh;
    top: 23vh;
    z-index: 1;
}

div.headerBody div.hands img:nth-child(1) {
    left: 10vh;
    width: 25.5vh;
    transform: rotate(10deg);
}

div.headerBody div.hands img:nth-child(2) {
    left: -33vh;
    transform: rotate(-15deg);
}

div.headerBody {
    position: relative;
    height: 100%;
}

div.headerText {
    position: relative;
    left: 50%;
}

div.headerBody p {
    position: absolute;
    width: 800px;
    left: -400px;
    top: 1vh;
    z-index: 1;
    text-align: center;
    font-size: 22px;
    color: var(--navlink-color);
    /* -webkit-text-stroke: white; */
    /* -webkit-text-stroke-width: 1px; */
}

/* Wave divider */
svg {
    position: absolute;
    bottom: -1px;
}

div.waveDivider#header {
    background-color: var(--header-bg-color);
    color: var(--navlink-color);
}

div.waveDivider#lightBlue {
    background-color: var(--navlink-color);
    color: var(--landingPage-sub-color);
}

div.waveDivider#darkBlue {
    color: var(--navlink-color);
    background-color: var(--landingPage-sub-color);
}

div.waveDivider {
    position: relative;
    width: 100%;
    z-index: 0;
    height: 10rem;
    margin: auto;
}

div.waveDivider svg {
    z-index: 0;
    color: currentColor;
}

.wavePath-22lfEN {
    -webkit-animation: waveDividerAnimation 30s linear infinite alternate;
    animation: waveDividerAnimation 30s linear infinite alternate;
}

@-webkit-keyframes waveDividerAnimation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }
    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }
    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}

@keyframes waveDividerAnimation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }
    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }
    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}
  
/* Body */
div.mainBody {
    background-color: transparent;
}

div.mainBody div.section {
    position: relative;
    display: flex;
    align-items: center;
    height: 40vw;
}

div.mainBody div.textBody {
    margin: auto;
    margin-right: 150px;
    width: 35%;
    max-width: 25rem;
}

div.streamRecs div.textBody {
    margin-right: auto;
    margin-left: 150px;
}

div.gameRecs {
    background-color: var(--navlink-color);
    z-index: 999;
}

div.streamRecs {
    background-color: var(--landingPage-sub-color);
}

div.streamRecs img{
    margin-left: 30px;
}

div.videoRecs {
    background-color: var(--navlink-color);
}

div.mainBody h1 {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: transparent;
    font-size: 2.2rem;
    margin: 0;
}

div.mainBody p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

div.mainBody img {
    width: 45%;
    margin-right: 45px;
}

div.headerBody p.const {
    position: relative;
    margin: auto;
    width: 100%;
    left: 0;
}

/* Top 5 Rec */

div.topRecs {
    overflow: hidden;
    position: relative;
    
    width: 480px;
    height: 420px;

    margin: auto;
    margin-left: 50px;
}

div.topcontainer {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: -5px;
    display: flex;
    flex-direction: row;

    transition: left 1s;
}

div.topcontainer > .card {
    margin: 25px;
}

div.topRecs a.btn{
    z-index: 9999;
    position: absolute;
    cursor: pointer;

    font-size: 25px;
    top: 47%;
}

div.topRecs a.btn.right {
    right: 0px;
}

div.topRecs span {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    position: absolute;
}

div.topRecs span.s1 {
    bottom: 2px;
    right: 10px;
    transform: rotate(-4deg);
}

div.topRecs span.s2 {
    top: 2px;
    right: 10px;
    transform: rotate(4deg);
}

div.topRecs img.svg1 {
    position: absolute;
    width: 60px;
    z-index: 999;

    transform: rotate(200deg);
    bottom: 45px;
    right: -55px;
}

/* Recommend Pages */
div.recHeader {
    background-color: var(--header-bg-color);
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    height: auto!important;
}

div.recHeader span {
    margin: 0;
    height: auto;
    width: 100%;
}

div.recHeader div.selecter {
    width: 100%;
    padding: 20px;
}

div.recHeader a {
    color: var(--navlink-color);
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

div.recHeader form {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

form input {
    background-color:#FFFFFF;
    border:solid 2px var(--navlink-color);
    font-size: 18px;
    color:#000000;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:15px;
    padding-left:15px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}

div.recHeader div.button {
    padding: 8px;
    border: 3px solid var(--navlink-color);
    cursor: pointer;
}

div.recHeader div.button:hover {
    background-color: rgba(146, 190, 226, 0.377);
}

div.recHeader label {
    color: var(--navlink-color);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-right: 8px;
}

div.recBody {
    background-color: var(--header-bg-color);
    min-height: 100vh;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Card */

div.card .hidden {
    height: 0!important;
    display: none;
}

div.card {
    position: relative;
    margin: 10px;
    width: 390px;
    height: 350px;
    border: 7px solid var(--navlink-color);
    border-radius: 30px;
    box-shadow: 6px 6px 15px black;
    transition: width 1s, height 1s, transform 1s;
    transform-style: preserve-3d;
    background: transparent;
}

div.card:hover, div.card.isflipped:hover {
    /* transform: scale(1.05); */
}

div.card > .cardfront {
    z-index: 0;
}

div.card.isflipped {
    transform: rotateY(180deg);
    background: transparent;
}

div.card.isflipped:hover {
    /* transform: scale(1.05); */
}

div.cardfront, div.cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-color);
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.cardback {
    transform: rotateY(180deg);
    z-index: 999;
}

/* Card Front */

div.card img {
    width: 100%;
    height: 190px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;

    border: 0px solid var(--navlink-color);
    border-radius: 23px 23px 0px 0px;

    cursor: pointer;
}

div.card div.platforms {
    padding: 0px 15px;
    padding-top: 15px;
}

div.card div.platforms i {
    font-size: 20px;
    color: var(--navlink-color);
    margin-right: 6px;
}

div.card a.title {
    text-align: left;
    display: block;
    height: 25%;
    margin: 8px 0;
    margin-left: 15px;

    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: var(--header-title-color);
    /* -webkit-text-stroke: 1px black; */
}

div.card div.genre {
    position: absolute;
    bottom: 10px;
    width: 97%;
    display: flex;
    justify-content: space-around;
}

div.card div.genre a {
    font-size: 18px;
    font-weight: bolder;
    color: var(--header-bg-color);
    background-color: var(--navlink-color);
    font-family: 'Rubik', sans-serif;
    -webkit-text-stroke: 0px;
    padding: 7px;
    border-radius: 10px;
}

div.card div.cardhover {
    position: absolute;
    width: 30px;
    height: 100%;
    right: -15px;
    content: "";
    cursor: pointer;
    /* background-color: green; */
}

div.card.hover {
    transform: rotateY(10deg);
}


/* Card Back */

div.card div.youtube, div.card div.twitch {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

div.card div.vidcontainer {
    margin: auto;
    position: absolute;
    width: 600%;
    top: 0%;
    left: 0;
    transition: left 1s;
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

div.card div.youtube iframe {
    border: none;
    margin: auto;
    /* padding: 10px 24.5px; */
    padding: 10px 45px;
}

div.card div.youtube i.fab {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 25px;
    color: #c4302b;
}

div.card div.twitch img {
    border-radius: 0px 0px 0px 0px;
    cursor: default;
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px 45px;
    cursor: pointer;
}

div.card div.twitch i.fab {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 25px;
    color: #6441a5;
}

div.card .btn {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: left 1s;
    -ms-transform: translate(0%, -50%); 
    transform: translate(0%, -50%);
    cursor: pointer;
    pointer-events: all;
}

.btn i {
    margin: auto;
    font-size: 25px;
    color: var(--header-title-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--header-title-highlight-color);
}

.btn i:hover {
    color: var(--header-title-color);
    -webkit-text-stroke-color: var(--navlink-color);
}

div.card .btn.right {
    right: 10px!important;
}

div.card .btn.left {
    left: 10px;
}

/* Survey */
div.survey {
    position: inherit;
    margin: auto;
    margin-right: 125px;
}

div.survey div.dim {
    width: 100%;
    height: 100%;
    background-color: #3f3f3f9a;
}

div.surveyBody {
    position: inherit;
    width: 300px;
    height: 450px;
    background-color: var(--header-bg-color);
    border: 10px solid var(--header-title-color);
    border-radius: 20px;

    padding: 15px;

    font-family: 'Rubik', sans-serif;
    color: var(--navlink-color);
}

div.surveyBody > h1 {
    text-align: center;
    font-size: 30px;
}

div.surveyBody div.button {
    width: 58px;
    margin-top: 50px;
    padding: 8px;
    border: 3px solid var(--navlink-color);
    cursor: pointer;
}

div.surveyBody div.button:hover {
    background-color: rgba(146, 190, 226, 0.377);
}

div.survey.hidden {
    display: none;
}

/* Reading Line */
div.readingline {
    z-index: 99999;
    transform: translate(0, -50%);
    position: absolute;
    width: 100% !important;
    min-width: 100% !important;
    height: 12px;
    box-sizing: border-box;
    border: 3px solid #fff300;
    border-radius: 5px;
    background-color: black;
    pointer-events: none;
}

div.readingline.hidden {
    height: 0!important;
    border: 0px solid #fff300;
}